.pencil {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 3;
}

.set-angle {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
