body.fill-mode {
  cursor: url(material-design-icons/outline_format_color_fill_black_18dp.png), auto;
}

.pencil {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 3;
}

.fill {
  position: absolute;
  left: 1rem;
  bottom: 5rem;
}

.fill .material-icons-outlined {
  font-size: 1rem;
}

.set-angle {
  position: absolute;
  left: 1rem;
  bottom: 3rem;
}

.color-picker {
  display: none;
  position: absolute;
  left: 1rem;
  bottom: 2.375rem;
  background-color: white;
}

body.picking-color .color-picker {
  display: block;
}

.pick-color {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.picked-color {
  width: 1rem;
  height: 1rem;
}
